@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #0e0a14;
   
}
.header{
    display:flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
    color:white;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:999;
    
    padding:20px;
    background-attachment: fixed;

    
}
.header a{
    color:white;
    text-decoration:none;
}
.header a i{
    color:#0ef;
    /* padding:2px; */
}
.header .logo{
    font-size:34px;
    color:#fff;
    font-weight:600;

}
.header .navbar{
    display:flex;
    gap:30px;
}
.header .navbar a{
        font-size:23px;
        color:#fff;
        font-weight:500;
        /* padding:0px 20px; */
        
}
.header .navbar a:hover{
    color:#a0ef
}
.header input{
    display:none;
}
.header label i{
  display: none;
}

/* header end */

.about{
     display:flex;
     flex-direction: column;  
     justify-content: center;
     align-items: center;
     width:100%;
     
     padding-top:65px;
    min-height:100vh;
  
}
.about .c1{
    font-size:3.4rem;
    color:#fff;
}
.about .me{
    color:#0ef;
}
.about .content-box{
    margin-top:50px;
    display:flex;
    gap:20px;
    width:100%;
    justify-content: space-around;
    align-items: center;
    color:#fff;
    font-size:1.1rem;
}
.about .c2{
    text-decoration: 3px overline #0ef ;
    color:white;
    font-size:3.1rem;
    margin-top:20px;
}
.about .content-box .box .sp{
    color:#0ef;
  
    display:inline;
    flex-direction: column;
    
}
.about .content-box .box .head1{
    display:flex;
    
}

.about .content-box .box h1{
    height:55px;
}
.content-box .box .fr1{
          width:100px;
}
.content-box .box .fr{
    width:200px;
}

.about .resume{
    background-color:transparent;
    color:white;
    font-size:18px;
    padding:9px 18px;
    border-radius:19px; 
    text-decoration: none;
    border:1px solid white;
    background:orange;
    margin-bottom:15px;
    color:#081b29;
    margin-top:20px;
}
.about .resume:hover{
    letter-spacing: 1px;
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan;
}
.sec2 .c1{
    color:white;
    text-align:center;
    font-size:3rem;
}
.sec2 .c1 span{
    color:#0ef;
}
.section2 {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section2 .sub{
    display:flex;
    width:100%;
    justify-content: center;
    align-items: center;
    margin-top:30px;
    font-weight:600;
    
}
.section2 .cont1box{
    width:40%;
    padding:20px;
    
}
.section2 .contbox{
    width:45%;
    background-color:transparent;
    /* color:#081b29; */
    color:white;
    padding:25px 20px;
    border-radius:16px;
    box-shadow: 0 0 5px cyan, 0 0 7px cyan, 0 0 8px cyan, 0 0 10px cyan;

}
.section2 .contbox .pr1{
   margin:10px 0px;
}

@media screen and (max-width:800px){

    .header .navbar {
        display: flex;
        gap: 30px;
        display: none;
        position: absolute;
        top: 20px;
        left: -110%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        transition: all 1.5s;
        z-index: 999;
        top: 66px;
        height: 87vh;
        width: 74%;
        padding: 37px;
        background: black;
      
    }
input:checked ~ .navbar{
        left:0;

    
}
.header .logo{
    font-size:35px;
}
.header label i{
   font-size:26px;
   display: block;
}
}
@media screen and (min-width:800px) and (max-width:1200px){
.header .navbar a {
    font-size: 21px;
}
.header .logo {
    font-size: 32px;
    color: #fff;
    font-weight: 600;
}
}
@media screen and (max-width:800px){
   
    .about .c1 {
        font-size: 2.5rem;
        color: #fff;
    }
    .about .c2 {
        font-size: 2rem;
        margin-top: 16px;
    }
    .about .content-box {
        margin-top: 40px;
        
        gap: 20px;
        width: 100%;
        padding: 0px 13px;
        
        align-items: start; 
       flex-direction: column;
        font-size: 0.7rem;
    }
    .about .content-box .box h1 {
        height: 41px;
    }
    .content-box .box .fr1 {
        width: 76px;
    }
    .content-box .box .fr {
        width: 67%;
    }
   .about{
    padding-top:80px;
   }
}

@media screen and (min-width:500px) and (max-width:800px){
   
   
    .about .content-box {

        font-size: 0.9rem;
        padding: 0px 24px;
    }
    .about .content-box .box h1 {
        height: 41px;
    }
    .content-box .box .fr1 {
        width: 100px;
    }
    .content-box .box .fr {
        width: 70%;
    }
   
}
@media screen and (min-width:700px) and (max-width:800px){
    .about .content-box {

        font-size: 1rem;
        padding: 0px 28px;
    }
    .about .content-box .box h1 {
        height: 41px;
    }
    .content-box .box .fr1 {
        width: 105px;
    }
    .content-box .box .fr {
        width: 85%;
    }
}

@media screen and (min-width:800px) and (max-width:1200px){
    .about .content-box {

        font-size: 0.9rem;
        padding: 0px 6%;

      
    }
    .about .content-box .box h1 {
        height: 41px;
    }
    .content-box .box .fr1 {
        width: 101px;
    }
    .content-box .box .fr {
        width: 72%;
    }
    .about .c1 {
        font-size: 3rem;
        color: #fff;
    }
    .about .c2 {
        font-size: 2.6rem;
        margin-top: 16px;
    }

}
@media screen and (min-width:970px) and (max-width:1260px){
    .about .content-box {

        padding: 0px 8%;

      
    }
    .content-box .box .fr1 {
        width: 101px;
    }
    .content-box .box .fr {
        width: 73%;
    }
}
@media screen and (min-width:1200px) and (max-width:1440px){
    /* .about .content-box {

        padding: 0px 8%;

      
    } */
    .content-box .box .fr1 {
        width: 114px;
    }
    .content-box .box .fr {
        width: 83%;
    }
}
@media screen and (max-width:800px){
    .about{
        padding-top:120px;
    }
}
@media screen and (max-width:800px){
    .sec2 .c1 {
        font-size: 2.1rem;
        margin-top: 19px;
    }
    .sub .cont1box{
         display:none;
    }
    .sec2 .sub{
        flex-direction:column;
    }
    
    .section2 .contbox{
        width:90%;
       
        padding:20px 10px;
       
    
    }
}

