
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #0e0a14;
   
}
.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    color:white;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:999;
    background-color: black;
    padding:20px;
    background-attachment: fixed;

    
}
.header a{
    color:white;
    text-decoration:none;
}
.header a i{
    color:#0ef;
    /* padding:2px; */
}
.header .logo{
    font-size:34px;
    color:#fff;
    font-weight:600;

}
.header .navbar{
    display:flex;
    gap:30px;
}
.header .navbar a{
        font-size:23px;
        color:#fff;
        font-weight:500;
        /* padding:0px 20px; */
        
}
.header .navbar a:hover{
    color:#a0ef
}
.header input{
    display:none;
}
.header label i{
  display: none;
}
.home{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top:150px;
    min-height:100vh;
    padding:70px 10% 0;
}

.home .box2{
position:relative;
width:400px;
height:400px;
background:rgba(0,0,0,0.5);
border-radius:50%;
overflow:hidden;
}
.home .box2::before{
    content:'';
    position:absolute;
    inset: -10px 140px;
    background:linear-gradient(315deg,#00ccff,#d400d4);
    transition: 0.5s;
    animation: animate 4s linear infinite;

}
.home .box2:hover::before{
    inset:-20px 0px;
}
@keyframes animate{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform: rotate(360deg);

    }
}
.home .box2::after{
    content:'';
    position:absolute;
    inset:6px;
    background:#162052;
    border-radius:50%;
    z-index:1;
}
.home .box2 .content{
    position:absolute;
    inset: 30px;
    border: 6px solid #070a1c;
    z-index:3;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius:50%;
    overflow:hidden;
   
    color:#fff;
 font-weight:600;
 gap:10px;

 letter-spacing: 0.05em;
 text-transform: uppercase;
    
}
.home .box2 .content h2{
    font-size:1.5em;
    letter-spacing: 0.03em;
    
}
.home .box2 img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit: cover;
    transition:0.5s;
    pointer-events: none;
    z-index:3;

}
.box2:hover .content img{
    opacity:0;
}
.box2 .content h3{
    font-weight:300;
    font-size:0.85em;
}
.box2 .content a{
    position:relative;
    margin-top:10px;
    padding: 10px 20px;
    color:#070a1c;
    background:#fff;
    border-radius:25px;
    font-size:1.2em;
    font-weight:500;
    text-decoration:none;
    text-transform: uppercase;
    letter-spacing:0.05em;
    transform: all 0.5s;
}
.box2 .content a:hover{
    letter-spacing: 0.2em;
}
.animated-text {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
    margin:14px 0px;
}
.animated-text span {
    position: relative;
}
.animated-text span::before {
    content: "I am a Front-end Developer";
    color:#0ef;
}
.animated-text span::after {
    content: '';
    position: absolute;
    width:calc(100% + 8px);
    height:100%;
    background-color:#0e0a14;
    border-left: 2px solid #0ef;
    right:-8px;
    animation: cursor .8s infinite;
    animation: typing 30s steps(26) infinite;
}

@keyframes cursor {
    to {
        border-left: 2px solid rgb(1,1,16);
    }
}
@keyframes typing {
    10%,15%,30%,35%,50%,70%,90%,95% {
        width:0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85% {
        width:calc(100% + 8px);
    }
}
.home .box1{
    display:flex;
    flex-direction:column;
    padding:0px 60px;
    width:55%;
    

}
.home .box1 h1{
    color:white;
    font-size:2.8rem;

}
.home .box1 p{
    font-size:1.4rem;
    color:white;
}
.home .box2{
    padding:0px 40px;
}
.home .box1 .icon{
    display:flex;
    gap:8px;
    color:white;
    margin:20px 0px;

}
.home .box1 .icon i{
    font-size:22px;

   
}
.home .box1 .icon .ibox{
    height:40px;
    width:40px;
    border-radius:50%;
    padding:8px;
    text-decoration:none;
    background:transparent;
    border:2px solid #0ef;
    color:#0ef;
}
.home .box1 .icon .ibox:hover{
    background:#0ef;
    color:#081b29;
    box-shadow: 0 0 20px #0ef;
}
.home .box1 button{
    padding:9px 17px;
    border-radius:29px;
    border:none;
    color:#081b29;
    width:170px;
    background:#0ef;
    letter-spacing: 0.5px;
    font-weight:600;
    cursor: pointer;

}

.home .box1 button:hover{
     box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan;
}

@media screen and (max-width:800px){

    .header .navbar {
        display: flex;
        gap: 30px;
        display: none;
        position: absolute;
        top: 20px;
        left: -110%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        transition: all 1.5s;
        z-index: 999;
        top: 66px;
        height: 87vh;
        width: 74%;
        padding: 37px;
        background: black;
      
    }
input:checked ~ .navbar{
        left:0;

    
}
.header .logo{
    font-size:35px;
}
.header label i{
   font-size:26px;
   display: block;
}
.home{
    flex-direction: column-reverse;
    padding:100px 18px 0px 18px;
}
.home .box2{
    width:260px;
    height:260px;
    }
    .home .box1 {
        text-align: center;
        display: flex;
        flex-direction: column;
        padding: 10px 0px;
        width: 100%;
    }
    .animated-text {
        font-size: 22px;
        font-weight: 600;
        min-width: 280px;
        margin: 10px 0px;
    }
    .home .box1 h1 {
       
        font-size: 1.6rem;
    }
    .home .box1 p {
        font-size: 1.1em;
    }
    .home .box2 .content h2 {
        font-size: 1em;
        letter-spacing: 0.02em;
        
    }
    .box2 .content h3 {
        font-weight: 300;
        font-size: 0.80em;
    }
    .box2 .content a {
       
        padding: 9px 20px;
        margin-top:1px;
        font-size: 0.8em;

    }
    .home .box1 .icon {
    justify-content: center;
}
 .home .box1 button{
    margin:auto;
 }  
 .home .box2::before{
    
    inset: -10px 90px;
    

}   
}
@media screen and (min-width:500px) and (max-width:800px){
    .home .box2{
        width:285px;
        height:285px;
        }
        .home{
            flex-direction: column-reverse;
            padding:100px 20px 0px 20px;
        }
        .home .box1 {
            text-align: center;
            display: flex;
            flex-direction: column;
            padding: 21px 0px;
            width: 100%;
        }
        .animated-text {
            font-size: 25px;
            font-weight: 600;
            min-width: 280px;
            margin: 10px 0px;
        }
        .home .box1 h1 {
           
            font-size: 1.9rem;
        }
        .home .box1 p {
            font-size: 1.4em;
        }
        .home .box1 h1 {
       
        font-size: 1.6rem;
    }
     .home .box1 p {
            font-size: 1.4em;
        }
    .home .box2 .content h2 {
        font-size: 1em;
        letter-spacing: 0.02em;
        
    }
    .box2 .content h3 {
        font-weight: 300;
        font-size: 0.80em;
    }
    .box2 .content a {
       
        padding: 9px 20px;
        margin-top:1px;
        font-size: 0.8em;

    }

    
}
@media screen and (min-width:800px) and (max-width:1200px){
    .home .box2{
        width:265px;
        height:265px;
        }
        .home{
            padding:124px 20px 0px 20px;
        }
        .home .box1 {
            text-align: start;
            display: flex;
            flex-direction: column;
            padding: 21px 0px;
            width: 100%;
            width:55%;
        }
        .animated-text {
            font-size: 25px;
            font-weight: 600;
            min-width: 280px;
            margin: 10px 0px;
        }
        .home .box1 h1 {
           
            font-size: 1.9rem;
        }
        .home .box1 p {
            font-size: 1.1em;
        }
        .header .navbar a {
            font-size: 21px;
        }
        .header .logo {
            font-size: 32px;
            color: #fff;
            font-weight: 600;
        }
        .home .box1 h1 {
       
            font-size: 1.6rem;
        }
        .home .box1 p {
            font-size: 0.9em;
        }
        .home .box2 .content h2 {
            font-size: 1em;
            letter-spacing: 0.02em;
            
        }
        .box2 .content h3 {
            font-weight: 300;
            font-size: 0.80em;
        }
        .box2 .content a {
           
            padding: 9px 20px;
            margin-top:1px;
            font-size: 0.8em;
    
        }  
        .home .box2::before{
    
            inset: -10px 96px;
            
        
        } 
    
}